<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="const.xacro" />
    <xacro:include filename="depthCamera.xacro" />
    <xacro:include filename="gazebo.xacro" />
    <xacro:include filename="leg.xacro" />
    <xacro:include filename="materials.xacro" />
    <xacro:include filename="robot.xacro" />
    <xacro:include filename="transmission.xacro" />
    <xacro:include filename="ultraSound.xacro" />



</robot>